@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:cursive;
}
nav{
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    background-color: white;
    z-index: 1;

}
.nav-item{
    margin:0 20px;
    color: black;
    font-weight: 500;
}
.container{
    margin-top: 5%;
}
.col{
    margin: 5px;
}
.col img{
width: 270px;
box-shadow: 1px 1px 20px white inset;
background:transparent;
border: none;
}
.info h3{
    margin-left: 10%;
}
.info p{
    margin-left: 10%;
}
 
.info a{
    margin-left: 10%;
    padding: 20px 70px;
    background-color: #F20000;
    width: 400px;
    text-decoration: none;
    color: white;
    font-weight: 900;
    border-radius: 50px;
}
.bg{
    background-image: url('https://i.postimg.cc/cJKzvcDN/sliced-vegetables-realistic-concept-with-tomato-pepper-onion-vector-illustration-1284-16245.jpg');
    background-size: cover;
    height: 80vh;
}

/* ----------------------------- */
.specials{
 
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}
.card{
    width: 300px;
    margin: 20px;
}
 
.cart-button{
    text-align: right;
    margin-right: 10px;
   border: none;
   background-color:none;
}
.image-holder{
    text-align: center;
    width: 100%;
}
.image-holder img{
    width: 270px;
    height:300px;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 5px;
}
.price{
    text-align: right;
}
.details p{
font-size: 10px;
margin: 10px;
}
.cart-button i{
    font-weight: 400;
    background-color: #F20000;
    padding:5px 10px;
    border-radius: 50%;
    color: white;
}
 

 .menu_nav{
    display:grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
 }

 .menu_nav button{
    margin: 10px;
    padding: 10px;
    width: 100px;
    background-color: white;
    border: 1px solid white;
 }


#starters{
 display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}
#drinks{
 display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}
#meals{
 display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}
#deserts{
 display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.count{
    background-color: #F20000;
    color: white;
    border-radius: 50%;
    padding: 1px 8px;
}

.icon img{
    width: 30px;
    height: 30px;
}
